<tr class="<%= cycle(:odd,:alt) %>">
  <td class="numeric head1"><%= salary_slip_charge.salary_head.name %></td>
  <td class="numeric head2"><%= salary_slip_charge.base_charge %></td>
  <td class="numeric head3"><%= salary_slip_charge.amount.abs %></td>
</tr>