<% form_for @investment, :url => employee_investments_path do |f| %>
  <%= render :partial => 'fields', :locals => {:f => f} %>
  <p class="submit">
    <%= f.submit t('button.create'), :class => 'btn' %> <%= "#{t('common.or')}" %>
    <%= link_to(t('button.cancel'), employee_investments_path(@employee), :class=>'cancel') %>
  </p>
<% end %>