<ul class="tabs">
  <li class="<%= link_active?(params[:controller] == "arrears" && params[:action] == "index") %>">
    <%= link_to('Details',arrears_path) %>
  </li>
  <li class="<%= link_active?(params[:controller] == "arrears" && params[:action] == "bulk") %>">
    <%= link_to('New',bulk_arrears_path) %>
  </li>
</ul>