<% content_for(:page_header) do %>
  <h2>Register</h2>
  <%= companies_sub_header %>
<%end%>
<% form_for @client_application, :url => oauth_clients_path do |f| %>
  <%= render :partial => "form", :locals => { :f => f } %>
  <p class="submit">
    <%= f.submit "Register", :class=>"btn" %>
  </p>
<% end %>